<div id = "header">
    <a href="posts">
        <img src="img\icon2.png" id="logo" alt="bids++ logo" width=150>
    </a>
    <a href="posts" class = "header_link">posts</a>
    <a href="users" class = "header_link">reported users</a>
    <a href="/" class = "header_link">log out</a>
</div>