<div id = "header">
    <a href="admin-posts">
        <img src="img\icon2.png" id="logo" alt="bids++ logo" width=150>
    </a>
    <a href="admin-posts" class = "header_link">posts</a>
    <a href="admin-user" class = "header_link">reported users</a>
    <a href="home" class = "header_link">log out</a>
</div>