<div id = "header">
    <a href="homepage">
        <img src="img\icon2.png" id="logo" alt="bids++ logo" width=150>
    </a>
    <a href="home" class = "header_link">home</a>
    <a href="ffs" class = "header_link">ffs</a>
    <a href="/" class = "header_link">log out</a>
    
    <a href="profile"><img class="headeravatar" src="{{useravatar}}"></a>
</div>