<div id = "header">
    <a href="/home">
        <img src="/img/icon2.png" id="logo" alt="bids++ logo" width=150>
    </a>
    <a href="/home" class = "header_link">home</a>
    <a href="/ffs" class = "header_link">ffs</a>
    <a href="/user/{{username}}" class="header_link">my profile</a>
    <a href="/logout" class = "header_link">log out</a>
    
</div>