<div id = "wrapper1">
    <a class="title">ABOUT BIDS++</a><br><br>
    
    <div class = "post">
        <div class="about">
            <h2 style="margin-top: 0px;">Devs</h2>
            <p>Robi Banogon, Christine Deticio, Sharmaine Gaw</p>

            <br>
            <hr>
            <br>

            <h2>Modules used</h2>
            <ul>
                <li>npm</li>
                <li>express</li>
                <li>express-hbs</li>
                <li>mongoose</li>
                <li>async</li>
                <li>body-parser</li>
                <li>express-session</li>
                <li>multer</li>
            </ul>

            <h2>Libraries and Packages Used</h2>
            <p>-</p>

            <div style="text-align: center">
                <a class = "button" href="/">go back</a>
            </div>
        </div>
    </div>
</div>