<div id = "wrapper1">
    <a class="title">ABOUT BIDS++</a><br><br>
    
    <div class = "post">
        <div class="about">
            <h2 style="margin-top: 0px;">Devs</h2>
            <p>Robi Banogon, Christine Deticio, Sharmaine Gaw</p>

            <br>
            <hr>
            <br>

            <h2>modules used</h2>
            <ul>
                <li>async</li>
                <li>bcrypt</li>
                <li>body-parser</li>
                <li>express</li>
                <li>express-handlebars</li>
                <li>express-hbs</li>
                <li>express-session</li>
                <li>handlebars</li>
                <li>hbs</li>
                <li>mongodb</li>
                <li>mongoose</li>
                <li>multer</li>
            </ul>

            <h2>Libraries and Packages Used</h2>
            <p>-</p>

            <div style="text-align: center">
                <a class = "button" onclick="goBack()">go back</a>
            </div>
        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>