<div id = "wrapper2">
    <a class="title">ABOUT BIDS++</a>
    <div id = "errorbox">
        <p> will edit pa :(( </p>
        <h2>DEVS</h2>
        <p id="errortext">Robi Banogon, Christine Deticio, Sharmaine Gaw</p>

        <br>
        <hr>
        <br>

        <h2>Modules used</h2>
        <ul>
            <li>npm</li>
            <li>express</li>
            <li>express-hbs</li>
            <li>mongoose</li>
            <li>async</li>
            <li>body-parser</li>
            <li>express-session</li>
        </ul>

        <h2>Libraries and Packages Used</h2>
        <p id="errortext">-</p>

        <a class = "button" href="/">go back</a>

    </div>
</div>