<div id = "wrapper1">

    {{> userheader ua=useravatar}}


    <!-- CREATE POSTS -->
    <div class="post">

            <form action="profile" class="createpost"id="createpost" name = "create">
                <div class="postdetails">
                    <p>create a post</p><br>
                    <!-- ITEM NAME -->
                    <label for="itemname">Item Name</label><br>
                    <input type="text" id="itemname" name="itemname" maxlength=50><br>
                    <!-- DESCRIPTION -->
                    <label for="description">Description</label><br>
                    <textarea name="description" form="createpost" placeholder="Enter a description of your item..."></textarea><br>
                    <!-- STARTING PRICE -->
                    <label for="sprice">Starting Price</label><br>
                    <input type="text" id="price" name="sprice" maxlength=7 placeholder="10.00" onkeypress="return isNumber(event)"><br>
                    <!-- PRICE INCREMENT -->
                    <label for="priceinc">Price Increment</label><br>
                    <input type="text" id="price" name="priceinc" maxlength=7 placeholder="10.00" onkeypress="return isNumber(event)"><br>
                    <!-- STEAL PRICE -->
                    <label for="stealp">Steal Price</label><br>
                    <input type="text" id="price" name="stealp" maxlength=7 placeholder="10.00" onkeypress="return isNumber(event)"><br>
                    <!-- CUT-OFF -->
                    <label for="cutoffdt">Cut-Off Date & Time</label><br>
                    <input type="datetime-local" id="cutoffdt" name="cutoffdt"><br>
                    <!-- MODE OF PAYMENT -->
                    <label for="modep">Mode of Payment</label><br>
                    <select name="modep">
                        <option value="cash">Cash</option>
                        <option value="gcash">G-Cash</option>
                        <option value="bank">Bank Transfer</option>
                    </select><br>
                    <!-- MEET-UP DETAILS -->
                    <label for="meetup">Meet-up Details</label><br>
                    <input type="text" id="meetup" name="meetup"><br>
                    <!-- CATEGORIES -->
                    <label for="categ">Categories</label><br>
                    <input type="checkbox" id="book" name="book" value="Book">Book<br>
                    <input type="checkbox" id="forpet" name="forpet" value="For Pet">For Pet<br>
                    <input type="checkbox" id="womens" name="womens" value="Women's">Women's<br>
                    <input type="checkbox" id="top" name="top" value="Top">Top<br>
                    <input type="checkbox" id="bottom" name="bottom" value="Bottom">Bottom<br>
                    <input type="checkbox" id="mens" name="mens" value="Men's">Men's<br>
                    <input type="checkbox" id="stationery" name="stationery" value="Stationery">Stationery<br>
                    <input type="checkbox" id="food" name="food" value="Food">Food<br>
                    <input type="checkbox" id="collectible" name="collectible" value="Collectible">Collectible<br>
                    <input type="checkbox" id="childrens" name="childrens" value="Children's">Children's<br>
                    <input type="checkbox" id="shoes" name="shoes" value="Shoes">Shoes<br>
                    <input type="checkbox" id="accessory" name="accessory" value="Accessory">Accessory<br>
                    <input type="checkbox" id="technology" name="technology" value="Technology">Technology<br>
                    <!-- UPLOAD -->
                    <label for="pic">Upload Picture</label><br>
                    <input type="file" name="pic" accept="image/*" multiple><br>
                    <!-- SUBMIT -->
                    <button type="submit" form="createpost" value="Submit" onclick="return validate()">Submit</button>
                </div>
            </form>
    </div>

</div>

<script type="text/javascript">
    function isNumber(evt)
    {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    /*function validate()
    {
        valid = 0;
        var itemname = document.forms["create"]["itemname"];
        
        var price = document.forms["create"]["price"]; 

        itemname.style.backgroundcolor = "";
        price.style.backgroundColor = "";

        if (itemname.value == "")
        {
            alert("Please enter a name for the item.");
            itemname.style.backgroundColor="gray";
            valid = 1;
        }

        if (price.value == "")
        {
            alert("Please enter a price.");
            price.style.backgroundColor = "gray";
            valid = 1;
        }


        return valid;
    }*/
</script>