<div id = "wrapper1">

    {{> userheader username = username}}

    <!-- EDIT POSTS -->
    <div class="post">

            <form action="profile" class="createpost" action="#" id="createpost">
                <div class="postdetails">
                    <p>edit post</p><br>
                    <label for="description">Description</label><br>
                    <textarea name="description" form="createpost" placeholder="Enter a description of your item..."></textarea><br>
                    <label for="meetup">Meet-up Details</label><br>
                    <input type="text" id="meetup" name="meetup" placeholder="Ex. At Agno, At CADS, etc."><br>
                    <button type="submit" form="createpost" value="Submit">Submit</button>
                </div>

            </form>
            
        
    </div>

</div>
