<div id = "wrapper2">
    {{!-- {{> userheader ua=useravatar}} --}}
    <div id = "errorbox">
        <div id = "error">
            <h1>404 ERROR. </h1>
            <p id="errortext">We can't seem to find the page you are looking for.</p>
            <a href="/home"><button id="goback">Back To Homepage</button></a> <br>
        </div>
    </div>
</div>
