<div id = "wrapper2">
    <div id = "errorbox">
        <div id = "error">
            <h1>404 ERROR. </h1>
            <p id="errortext">We can't seem to find the page you are looking for.</p>
            <a href="/"><button id="goback">BACK TO HOMEPAGE</button></a> <br><br>
            <p id="errortext">If you think this is a mistake, please don't hesitate to <a href="/about">contact us</a>.</p>
        </div>
    </div>
</div>
