<div id = "wrapper1">
    <!-- HEADER -->
    <div id = "header">
        <img src="/img/icon2.png" id="logo" alt="bids++ logo" width=150>
    </div>

    <!-- DESCRIPTION -->
    <div id = "desc">
        <p>
        <b>Built by Lasallians, for Lasallians.</b>
        <br><br>
        Bids to Pick, made easier. Bid, steal, and sell within the Lasallian community.
        </p>
    </div>

    <a href="#getstarted" class = "title">↓ GET STARTED ↓</a>

</div>
		
<div id = "getstarted">

    <a href="" class = "title">LOG IN</a>
                
    <!-- LOG IN -->

    <div id = "form">
        <form name = "login" id = "login" method = "post">
            <label for = "email">email</label><br>
            <input type="email" id="email" name = "email" value = {{email}}><br>
            
            <label for = "password">password</label><br>
            <input type="password" id="password" name = "password"><br>

            <p class = "registrationerror" id = "loginerror"></p><br>
            
            <div class = "button" id = "submitpost" onclick = "validate()">log in</div>
        </form>
        
        <br><br>
        
        <a href="/register" class="link">not yet registered? register here.</a>
    </div>
    
    <a href="/about" class="link">about bids++</a>
</div>

<script>
    $("input").keypress(function(event) { 
        if (event.keyCode === 13) { 
            validate();
        } 
    }); 

    function validate()
    {
        var email = $("#email").val();
        var password = $("#password").val();
        var query = {email: email, password: password};

        if(email.trim() != "" && password.trim() != "")
        {
            $.post('/checkLogIn', query, function(result) {
                
                if(!result) {
                    $("#loginerror").css("color", "red")
                    $("#loginerror").text("Invalid email and/or password.")
                }
                else
                {
                    $("#loginerror").css("color", "white")
                    $("#login").submit();
                }
            });
        }
        else
        {
            $("#loginerror").css("color", "red")
            $("#loginerror").text("Please enter your log-in credentials.")
        }
     
    }

</script>