<div id = "wrapper1">
	{{> userheader username = username}}

    <h1>New Bidding Added!</h1>
    <h2>Check your post <a href="/posts/{{_id}}">here.</a></h2>


</div>



<script type="text/javascript">


</script>