<div id="wrapper1">
    <div id = "header">
        <a href = "/"><img src="img\icon2.png" id="logo" alt="bids++ logo" width=150></a>
    </div>
    
    <a href="" class = "title">REGISTER</a>
    
    <div id = "form">
        <form method = "post" id ="register">
            
            
            <label for = "idnum">id number (8 digits)</label><br>
            <input type = "text" id = "idnum" name = "idnum" placeholder = "ex. 11812345"><br>
            <p class = "registrationerror" id = "idnumerror"></p><br>

            <label for = "email">email</label><br>
            <input type="text" id = "email" name = "email" placeholder = "ex. hello@gmail.com"><br>
            <p class = "registrationerror" id = "emailerror"></p><br>
            
            <label for = "idnum">username</label><br>
            <input type = "text" id = "username" name = "username" placeholder = "ex. nemumu"><br>
            <p class = "registrationerror" id = "usernameerror"></p><br>
            
            <label for = "phone">phone number (11 digits)</label><br>
            <input type = "text" id = "phone" name = "phone" placeholder = "ex. 09175624398"><br>
            <p class = "registrationerror" id = "phoneerror"></p><br>
            
            <label for = "password">password</label><br>
            <input type = "password" id = "password" name = "password"><br>
            
            <label for = "confirmpassword">confirm password</label><br>
            <input type = "password" id = "confirmpassword" name = "confirmpassword"><br>
            <p class = "registrationerror" id = "passworderror"></p><br>
            
        
            <input class = "button" type = "submit" id = "submit" value = "register">

        </form>
        
        <br><br>
        
        <a href="/" class="link">already a user? log-in here.</a>
    </div>
</div>

<script type = "text/javascript">

$(document).ready(function () {
    var valid;

    $("input").change(function(){
        $("#submit").prop("disabled", false);
    });

    $("#username").keyup(function(){
        var username = $("#username").val();

            $.get('/checkUsername', {username: username}, function(result) {
                if(result.username == username) {
                    $("#username").css("background-color", "lightcoral");
                    $("#submit").prop("disabled", true);
                    $("#usernameerror").text("Username already taken.");
                    valid = false;
                }
                else
                {
                    $("#username").css("background-color", "white");
                    $("#usernameerror").text("");
                    $("#submit").prop("disabled", false);
                    valid = true;
                }
            });
    });

    $("#email").keyup(function(){
        var email = $("#email").val();
        var temail = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var valid = true;

        if(!temail.test(email))
        {
            $("#email").css("background-color", "lightcoral");
            $("#emailerror").text("Invalid email address.");
            $("#submit").prop("disabled", true);
            valid = false;
        }

        if (valid)
        {
            $.get('/checkEmail', {email: email}, function(result) 
            {
                if(result.email == email) {
                    $("#email").css("background-color", "lightcoral");
                    $("#submit").prop("disabled", true);
                    $("#emailerror").text("Email already taken.");
                    valid = false;
                }
                 else
                {
                    $("#email").css("background-color", "white");
                    $("#emailerror").text("");
                    $("#submit").prop("disabled", false);
                    valid = true;
                }
            });
        }
    });

    function checkValidIdNum(idnum) {
        var sum = 0;
        var i = 1;
        var x = 0;

        for(i = 1; i <= 8; i++)
        {   
            x = idnum % 10;
            idnum = parseInt(idnum / 10);
            sum += x * i;
        }

        sum = sum % 11;
        
        if(sum == 0)
            return true;
        else
            return false;

    } 

    $("#idnum").keyup(function(){

        if($.trim($("#idnum").val()) == "" || !$("#idnum").val().match(/^-{0,1}\d+$/) || $("#idnum").val().length != 8 || !checkValidIdNum($("#idnum").val()))
        {
            $("#idnum").css("background-color", "lightcoral");

            if($.trim($("#idnum").val()) == "")
                $("#idnumerror").text("Please add your ID number.");
            else
                $("#idnumerror").text("Invalid ID number.");

            valid = false;
        }
        else
        {
            $("#idnum").css("background-color", "white");
            $("#idnumerror").text("");
            $("#submit").prop("disabled", false);
            valid = true;
        }
            
    });

    $("#phone").keyup(function(){

        if($.trim($("#phone").val()) == "" || !$("#phone").val().match(/^-{0,1}\d+$/) || $("#phone").val().length != 11)
        {
            $("#phone").css("background-color", "lightcoral");

            if($.trim($("#phone").val()) == "")
                $("#phoneerror").text("Please add your phone number.");
            else
                $("#phoneerror").text("Invalid phone number.");
            
            valid = false;
        }
        else
        {
            $("#phone").css("background-color", "white");
            $("#phoneerror").text("");
            $("#submit").prop("disabled", false);
            valid = true;
        }
            
    });

    $("#password").keyup(function(){
        
        if($.trim($("#password").val()) == "")
        {
            $("#password").css("background-color", "lightcoral");
            $("#confirmpassword").css("background-color", "lightcoral");
            $("#passworderror").text("Please add a password.");
            valid = false;
        }
        else if ($("#password").val().length < 8)
        {
            $("#password").css("background-color", "lightcoral");
            $("#confirmpassword").css("background-color", "lightcoral");
            $("#passworderror").text("Password must contain at least 8 characters.");
            valid = false;
        }
        else if($("#confirmpassword").val() != $("#password").val())
        {
            $("#passworderror").text("Password and confirm password do not match.");
            $("#password").css("background-color", "lightcoral");
            $("#confirmpassword").css("background-color", "lightcoral");
            valid = false;
        }
        else
        {
            $("#password").css("background-color", "white");
            $("#confirmpassword").css("background-color", "white");
            $("#passworderror").text("");
            $("#submit").prop("disabled", false);
            valid = true;
        }
            
    });

    $("#confirmpassword").keyup(function(){
        
        if($.trim($("#password").val()) == "")
        {
            $("#password").css("background-color", "lightcoral");
            $("#confirmpassword").css("background-color", "lightcoral");
            $("#passworderror").text("Please add a password.");
            valid = false;
        }
        else if ($("#password").val().length < 8)
        {
            $("#password").css("background-color", "lightcoral");
            $("#confirmpassword").css("background-color", "lightcoral");
            $("#passworderror").text("Password must contain at least 8 characters.");
            valid = false;
        }
        else if($("#confirmpassword").val() != $("#password").val())
        {
            $("#passworderror").text("Password and confirm password do not match.");
            $("#password").css("background-color", "lightcoral");
            $("#confirmpassword").css("background-color", "lightcoral");
            valid = false;
        }
        else
        {
            $("#password").css("background-color", "white");
            $("#confirmpassword").css("background-color", "white");
            $("#passworderror").text("");
            $("#submit").prop("disabled", false);
            valid = true;
        }
            
    });

    $("#submit").click(function() {
        
        if($.trim($("#idnum").val()) == "")
        {
            $("#idnum").css("background-color", "lightcoral");
            $("#idnumerror").text("Please add your ID number.");

            valid = false;
        }

        if($.trim($("#email").val()) == "")
        {
            $("#email").css("background-color", "lightcoral");
            $("#emailerror").text("Please add an email address.");
            valid = false;
        }

        if($.trim($("#username").val()) == "")
        {
            $("#username").css("background-color", "lightcoral");
            $("#usernameerror").text("Please add a username.");
            valid = false;
        }

        if($.trim($("#phone").val()) == "")
        {

            $("#phone").css("background-color", "lightcoral");
            $("#phoneerror").text("Please add your phone number.");
            valid = false;
        }

        if($.trim($("#password").val()) == "")
        {
            $("#password").css("background-color", "lightcoral");
            $("#confirmpassword").css("background-color", "lightcoral");
            $("#passworderror").text("Please add a password.");
            valid = false;
        }

        if(!valid)
        {
            alert("Please complete missing/invalid fields.");
            $("#submit").prop("disabled", true);
        }
        
    });
});
</script>