<div id="wrapper1">
    <div id = "header">
        <img src="img\icon2.png" id="logo" alt="bids++ logo" width=150>
    </div>
    
    <a href="" class = "title">REGISTER</a>
    
    <div id = "form">
        <form action="/" method="post">
        
            <label for = "idnum">id number</label><br>
            <input type="text" id="idnum" name="idnum"><br>
            
            <label for = "email">email</label><br>
            <input type="email" id="email" name="email"><br>

            <label for = "phone">phone number</label><br>
            <input type="text" id="phone" name="phone"><br>
            
            <label for = "password">password</label><br>
            <input type="password" id="password" name="password"><br>

            <label for = "confirmpassword">confirm password</label><br>
            <input type="password" id="confirmpassword" name="confirmpassword"><br><br><br>
            
            
            
            <input class="submit" type="submit" id="submit" name="submit" value="register">
        </form>
        
        <br><br>
        
        <a href="/" class="link">already a user? log-in here.</a>
    </div>
</div>