<div id = "wrapper1">
    <a class="title">NOTICE</a><br><br>
    
    <div class = "post">
        <div class="about" style="text-align: center">
            <h2 style="margin-top: 0px;">{{username}}'s account has been suspended.</h2>
            <p>If you think this is a mistake, please don't hesitate to <a href="/about">contact us</a>.</p>
            <br><br>
            <div style="text-align: center">
                <a class = "button" href="/">go back</a>
            </div>
        </div>
    </div>
</div>