<div id = "wrapper2">
    {{!-- {{> userheader ua=useravatar}} --}}
    <div id = "errorbox">
        <div id = "error">
            <h1>WELCOME TO BIDS++. </h1>
            <p id="errortext">Thank you for joining!</p>
            <a href="/#getstarted"><button id="goback">GO TO LOG IN PAGE</button></a> <br>
        </div>
    </div>
</div>